  <h1>Create a Post</h1>
  <form id="postForm">
    <label for="postTitle">Title:</label>
    <input type="text" id="postTitle" name="postTitle" required><br><br>
    
    <label for="postContent">Content:</label>
    <textarea id="postContent" name="postContent" rows="4" required></textarea><br><br>
    
    <label for="postImage">Image:</label>
    <input type="file" id="postImage" name="postImage"><br><br>
    
    <label for="postVideo">Video:</label>
    <input type="file" id="postVideo" name="postVideo"><br><br>
    
    <input type="submit" value="Create Post">
  </form>

  <script src="script.js"></script>


