<!-- <!DOCTYPE html>
<html>
<head>
  <title>Privacy Settings</title>
  <link rel="stylesheet" type="text/css" href="privacy.component.css">
</head>
<body>
  <h1>Privacy Settings</h1>
  
  <h2>Post Visibility</h2> -->
  <form id="postVisibilityForm">
    <label for="postVisibilitySelect">Who can see your posts?</label><br>
    <select id="postVisibilitySelect">
      <option value="public">Public</option>
      <option value="friends">Friends</option>
      <option value="private">Private</option>
    </select>
    <button type="submit">Save</button>
  </form>
  
  <!-- <h2>Profile Visibility</h2> -->
  <form id="profileVisibilityForm">
    <label for="profileVisibilitySelect">Who can access your profile?</label><br>
    <select id="profileVisibilitySelect">
      <option value="public">Public</option>
      <option value="friends">Friends</option>
      <option value="private">Private</option>
    </select>
    <button type="submit">Save</button>
  </form>

  <script src="script.js"></script>
<!-- </body>
</html> -->

